<div>

  <!-- <mat-form-field appearance="fill">
    <mat-label> Book Name </mat-label>
    <input matInput />
  </mat-form-field> -->


    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Ex. Game of Thrones">
    </mat-form-field>
  
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field> -->

  <label for="bookQuery"> Book Name: </label> 
  <input #bookNameQuery id="bookNameQuery" type="text" />
  
  <label for="maxSelection"> Max Select: </label>
  <select #select id="maxSelection">
    <option label="1"> 1 </option>
    <option label="5"> 5 </option>
    <option label="10"> 10 </option>
    <option label="20"> 20 </option>
  </select>

  <button #button (click)="getBooks()"> Search </button>
</div>

<p> Time: {{ time$ | async | date }} </p>

<!-- {{ 'ui.label.username' | translate }} -->
<ng-container *ngFor="let book of books$ | async"> 
  {{ book.volumeInfo.title }} <br>
</ng-container>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
